.container{
  margin: 0 auto;
  width: 1000px;
}
.cy_logo{
  height: 50px;
  width: 100px;
  padding-left: 30px;
  margin-top: 0px;
}
li{
    list-style-type: none;
    float: left;
  }
  li a{
    text-decoration: none;
    display: block;
    padding: 16px;
    text-align: center;
    color: #fff;
    transition: 0.9s
  }
  li a:hover {
      text-decoration: none;
      display: block;
      padding: 16px;
      text-align: center;
      color: #a4d55d;
      transition: 0.9s
  }
  .imgage-h4{
    margin-left: 35px;
  }
